<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>goerz/{{page.title}} @ GitHub</title>
  <link rel="stylesheet" href="http://goerz.github.com/style.css" type="text/css" media="screen" />
</head>

<body>
  <a href="{{page.github-url}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  <div id="container">
    <div class="download">
      <a href="http://github.com/goerz/Pagetest/zipball/master"><img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
      <a href="http://github.com/goerz/Pagetest/tarball/master"><img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
    </div>
    <h1><a href="{{page.github-url}}">{{page.title}}</a></h1>
    {{content}}
    <!--<div class="footer">-->
      <!--get the source code on GitHub : <a href="http://github.com/goerz/Pagetest">goerz/Pagetest</a>-->
    <!--</div>-->
  </div>
</body>
</html>
